.violations-chart-container {
  background: white;
  border-radius: 12px;
  /* padding: 20px; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 300px;
}

.violations-chart-title {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 13px;
  font-weight: 500;
  color: #374151;
  margin: 0;
  text-align: left;
  min-height: 36px;
  display: flex;
  align-items: left;
  justify-content: left;
}

.violations-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.violations-chart-wrapper {
  width: 140px;
}

.violations-stats {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.violations-total-label {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 2px;
}

.violations-total-value {
  font-size: 13px;
  font-weight: 500;
  color: #1f2937;
}

.violations-breakdown {
  display: flex;
  gap: 12px;
}

.violations-stat-item-label {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 2px;
}

.violations-stat-dot {
  width: 13px;
  height: 13px;
  border-radius: 25%;
}

.violations-stat-dot.closed {
  background: #4ade80;
}

.violations-stat-dot.open {
  background: #ef4444;
}

.violations-stat-value {
  font-size: 13px;
  font-weight: 500;
  color: #1f2937;
}